@model Woof.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KennelID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KennelID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleID)
        </dd>
    </dl>
</div>
<!-- Då roll 4 är Admin rollen för tillfället kan admins alltid redigera en user, detta är inte optimalt egentligen men får duga! -->
<div>
    @if (Context.Session.GetString("Role") == "4" || Model.UserID.ToString() == Context.Session.GetString("UserID"))
    {
        <a asp-action="Edit" asp-route-id="@Model.UserID">Edit</a>

        <form asp-controller="Users" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-link">Logout</button>
        </form>

    }
    <a asp-action="Index">Back to List</a>
</div>
